.fade-in{
    transition: all 0.3s ease-in-out;
    animation-name: fadeIn;
    animation-duration: 1s; /* Duración de 1 segundo */
    animation-fill-mode: both; /* Mantiene el estado final después de completar la animación */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}